@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: white;
  --main-color: #00ffee;
}

.logo {
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover {
  text-shadow: 0 0 25px var(--main-color);
}

.icons-a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 2px solid var(--main-color);
  font-size: 1.5rem;
  border-radius: 50%;
  color: var(--main-color);
  transition: 0.3s ease-in-out;
}

.icons-a:hover {
  color: var(--text-color);
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
}

.img_pic {
  position: relative;
  top: 3rem;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.img_pic:hover {
  box-shadow: 0 0 25px var(--main-color), 0 10px 1000px var(--main-color);
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 4rem;
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btns:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px var(--main-color);
}


.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}
